# ml
torch~=2.6.0
torchvision~=0.21.0

transformers~=4.51.2
num2words~=0.5.14
accelerate~=1.5.2

einops~=0.8.1

# extra moondream
pyvips~=2.2.3
pyvips-binary~=8.16.0

# extra moondream-cpu
moondream~=0.0.6

# extra mlx
mlx-vlm~=0.1.21

# extra namo
namo~=0.0.6

# extra service
rich-argparse~=1.7.0
gradio~=5.22.0